meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Ingeniería de los requisitos
meta(meta name="description" content="El proceso de ingeniería de requisitos comprende un estudio de factibilidad, adquisición, análisis, especificación, validación y administración. La recolección de requisitos busca obtener información sobre el software a desarrollar: los procesos que debe realizar sobre los datos y la manera en que debe pedir a los usuarios los datos de entrada para presentar los resultados a través de la interfaz de usuario. Cuando se definen y documentan los requisitos es importante incluir los requisitos de los productos a desarrollar y del proyecto.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")