h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span #[strong 220501092-02]. Recolectar información del software a construir de acuerdo con las necesidades del cliente.
            li 
                span #[strong 220501092-03]. Establecer los requisitos del software de acuerdo con la información recolectada.
            li 
                span #[strong 220501092-04]. Validar el informe de requisitos de acuerdo con las necesidades del cliente.