.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Casos de prueba: 
            | desarrollo de una prueba a partir de un requerimiento
        hr

        p
            strong.mr-2 IREB:
            | International Requirements Engineering Board
        hr

        p
            strong.mr-2 Mockup:
            | dibujo a mano alzada que apoya el entendimiento de un problema, situación o requerimiento.

        hr

        p
            strong.mr-2 PMBOK: 
            | Project Management Body Of Knowledge. Compendio de conocimiento para la gerencia de proyectos.

        hr

        p
            strong.mr-2 PMI:
            | Project Management Institute

        hr

        p
            strong.mr-2 SWEBOK:
            | Software Engineering Body of Knowledge. Compendio de conocimiento para la ingeniería del software.
          


        hr

        p
            strong.mr-2 SRS:
            | Software Requeeriments Specifications. Especificación de requerimientos de software
 



        hr

        p
            strong.mr-2 STAKEHOLDERS:
            | Interesados en un proyecto



        hr

        p
            strong.mr-2 Tendencia central:
            | Información sobre la distribución de una muestra.                                        