.container

    .header-ecored.mb-5
        h1 Introducción


    .card.mt-7
        img.card-avatar-top(src='assets/images/pages/introduccion/intro.jpg').img-fluid
        .card-body.p-5

            p Este componente de formación se aproxima en todas las secciones a lo que se debe tener en cuenta para obtener requerimientos o requisitos de excelente calidad. Inicialmente se definen las etapas de este proceso y la forma de cómo hacerlo con eficacia y eficiencia, teniendo en cuenta los resultados de encuestas que se aplican a la población objeto (en la empresa donde se realizará el proceso) del estudio desarrollado. Al finalizar se estudian diferentes procedimientos para validar o verificar los requisitos acordes con lo que el cliente necesita. El aprendiz alcanzará a conocer los requisitos de software y diferenciar los procesos que existen en la especificación y documentación de tales requisitos.