.container

    .header-ecored
        h1 3. Documentación, normas y estándares para redactar requisitos


    .card

        .card-body.p-5


            h2 3.1. Documento de requisitos

            p.mt-4 Los desarrolladores del sistema implementan en un comunicado oficial, los requerimientos del usuario, como una especificación detallada de los requisitos del sistema. 

            p.mt-4 Lea en el capítulo 4, páginas 91 a 94 para ampliar la información.

            section.my-5
                a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=3313" target="_blank").media-link      
                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                    .media-link-title
                        p #[strong Recurso externo]. Sommerville, I. (2011). Ingeniería de software. (9a. edición) Pearson Educación.




    .card

        .card-body.p-5


            h2 3.2 Norma NTC 1486

            p.mt-4 La Norma técnica colombiana (NTC) 1486:2018 fue creada con el objetivo de dar una estructura a los trabajos académicos escritos. 

            p.mt-4 Consulte el siguiente enlace para aplicar la norma de forma correcta:

            p.mt-4 No olvide ingresar a la biblioteca con sus credenciales para poder visualizar la norma. 

            section.my-5
                a(href="https://e-collection-icontec-org.bdigital.sena.edu.co/colecao.aspx" target="_blank").media-link      
                    img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                    .media-link-title
                        p #[strong Recurso externo]. Norma NTC 1486

    .card

        .card-body.p-5


            h2 3.3 Norma APA

            p.mt-4 Las normas APA (American Psychological Association) tienen como objetivo estandarizar los textos académicos, a nivel internacional es uno de los estándares más aceptados. 

            p.mt-4 En el siguiente instructivo encuentra las instrucciones de uso del estilo APA:

            section.my-5
                a(href="http://biblioteca.sena.edu.co/images/PDF/InstructivoAPA.pdf" target="_blank").media-link      
                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                    .media-link-title
                        p #[strong Anexo]. Dirección de Formación Profesional Dirección General SENA (2020). Instructivo uso del estilo APA 7ª edición. 


    .card

        .card-body.p-5


            h2 3.4. Certificación IREB

            p.mt-4 En el siguiente enlace, puede conocer sobre el certificado en ingeniería de requisitos, IREB (International Requirements Engineering Board; el consejo internacional de expertos en IR), el cual permite la certificación profesional en ingeniería de requisitos (CPRE), para mayor información ingrese a: 

            section.my-5
                a(href="https://www.ireb.org/en/about/" target="_blank").media-link      
                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                    .media-link-title
                        p #[strong Anexo]. Sobre IREB (International Requirements Engineeing Board).                        


    .card

        .card-body.p-5


            h2 3.5 Estándares IEEE   

            p.mt-4 El estándar IEEE–1233 el estándar para especificación de requisitos de sistemas y el IEEE-830 para especificación de requisitos de software, para más información revisar este documento en las páginas 105 -106.  

            section.my-5
                a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=3544" target="_blank").media-link      
                    img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                    .media-link-title
                        p #[strong Anexo]. Rivera, F., Hernández, G. (2015). Administración de proyectos. (2a. ed.) Pearson Educación.                                               